#main { 
    text-align: center;
}

#image {
    display: block;
    margin: auto;
    max-width: 100%;
    
}

#title {
    color: white;
    background-color: #680747;
    padding-top: 3px;
    padding-bottom: 3px;
}

#img-div {
    border: 1px solid grey;
    padding-top: 14px;
    
}

#img-caption {
    border: 1px solid #680747;
    width: 420px;
    margin: 0% auto;
    background-color: #680747;
    color: white;
}






